.login-container {
    text-align: center;
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding: 60px 30px;
    min-height: 500px;
}

form {

    text-align: center;

}

input {
    width: 100%;
    margin-top: 20px !important;
    border-radius: 5px;
    border-style: none;
    outline: none;
    background-color: rgb(247, 247, 247);
    padding-left: 4%;
    padding: 2% 4%;
}

input[type="button"] {
    background-color: rgb(45, 226, 84);
    font-weight: 500;
    color: white;
}

.connect-logo {
    text-align: center;
}

.text-log {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img[alt="googlelogo"],
img[alt="facebooklogo"] {
    margin-left: 1rem;
}