.tab-entry {
    width: 460px;
    height: 679px;
    background-color: rgba(255, 255, 255, 0);
}

.tab-header {
    display: flex;
    justify-content:space-between;
    margin-top: 5%;
    margin-bottom: 5%;

}

